body {
  font : 10pt sans-serif;
  background-color: #FFFFFF;
}

table {
  font : 10pt sans-serif;
}

th {
  text-align : left;
} 

h1 {
  text-align: left;
  font-size: 150%;
  font-weight: bold;
}

.top
{
    width:100%;
}

.top h1 {
  text-align: right;
  padding-bottom: 5px;
  font-size: 120%;
  font-weight: normal;
  text-transform: lowercase;
  letter-spacing: 5pt;
}

.top img {
  float: left; 
  padding-bottom: 0px;
}

.top p {
  text-align: right;
  margin-top: -10px;
  padding-top: 5px;
  font-size: 90%;
  font-weight: normal;
  text-transform: lowercase;
  letter-spacing: 2pt;
  clear: right;
}

.bottom p {
  text-align: left;
  border-top: 2px solid black;
  margin-top: 0px;
  padding-top: 5px;
  padding-left: 10pt;
  font-size: 75%;
  font-weight: normal;
}

.menu {
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  font-weight: normal;
  background-color: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 5px;
}

.content {
  padding-left: 10px;
  font-weight: normal;
}

.lineitems
{
    width:100%;
    border:1;
}

.lineitems td
{
    padding:5px 5px 5px 5px;
}

.history
{
    border: 2px solid black;
}

a.squarebutton{
background: transparent url('/images/square-blue-left.gif') no-repeat top left;
display: block;
float: left;
font: normal 12px sans-serif; /* Change 12px as desired */
line-height: 15px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 23px) */
height: 23px; /* Height of button background height */
padding-left: 9px; /* Width of left menu image */
text-decoration: none;
text-align: center;
}

a:link.squarebutton, a:visited.squarebutton, a:active.squarebutton{
color: #494949; /*button text color*/
}

a.squarebutton span{
background: transparent url('/images/square-blue-right.gif') no-repeat top right;
display: block;
padding: 4px 9px 4px 0; /*Set 9px below to match value of 'padding-left' value above*/
}

a.squarebutton:hover{ /* Hover state CSS */
background-position: bottom left;
}

a.squarebutton:hover span{ /* Hover state CSS */
background-position: bottom right;
color: black;
}