body {
  font : 10pt sans-serif;
  background-color: #025780;
}

table {
  font : 10pt sans-serif;
}

th {
  text-align : left;
} 

h1 {
  text-align: left;
  font-size: 150%;
  font-weight: bold;
}

.top h1 {
  text-align: right;
  border-bottom: 2px solid black;
  padding-bottom: 0px;
  font-size: 120%;
  font-weight: normal;
  text-transform: lowercase;
  letter-spacing: 5pt;
}

.top img {
  float: left; 
  padding-bottom: 0px;
}

.top p {
  text-align: right;
  margin-top: 20px;
  padding-top: 0px;
  font-size: 90%;
  font-weight: normal;
  text-transform: lowercase;
  letter-spacing: 2pt;
  clear: right;
  color: #ffffff;
}

.bottom p {
  text-align: left;
  border-top: 2px solid black;
  margin-top: 0px;
  padding-top: 5px;
  padding-left: 10pt;
  font-size: 75%;
  font-weight: normal;
}

.fieldhelp {
  font-size: 9pt;
  font-style: italic
}

.fasbreak {
  font-size: 120%;
}

.oddrow {
  background : #EEEEEE;
}

.evenrow {
  background : #BBBBBB;
}

.opened {
  background: #FFFFC0;
}

.approved {
  background : #C0FFC0;
}

.rejected {
  background : #F6F6F6;	
}

.purchased {
  background : #FFC0FF;
}

.received {
  background : #FFC0C0;	
}

.closed {
  background : #F6F6F6;	
}

.ageonewk {
  background : #99FF66;
}

.agetwowk {
  background: #CCFF33;
}

.agethreewk {
  background : #FFFF66;
}

.agefourwk {
  background : #FF99FF;
}

.agefivewk {
  background : #FF0066;
}

.menu {
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  font-weight: normal;
  background-color: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 5px;
}

.content {
  padding-left: 10px;
  font-weight: normal;
}

.mainmenu td
{
    padding: 5px 0px 5px 0px;
}

.lineitems
{
    width:100%;
    border:1;
}

.lineitems td
{
    padding:5px 5px 5px 5px;
}

.controls td
{
    padding: 5px 10px 5px 10px;
    border: 0px;
}

.filters td
{
    padding: 0px 10px 0px 10px;
    border: 0px;
}

a.squarebutton{
background: transparent url('/images/square-blue-left.gif') no-repeat top left;
display: block;
float: left;
font: normal 12px sans-serif; /* Change 12px as desired */
line-height: 15px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 23px) */
height: 23px; /* Height of button background height */
padding-left: 9px; /* Width of left menu image */
text-decoration: none;
text-align: center;
}

a:link.squarebutton, a:visited.squarebutton, a:active.squarebutton{
color: #494949; /*button text color*/
}

a.squarebutton span{
background: transparent url('/images/square-blue-right.gif') no-repeat top right;
display: block;
padding: 4px 9px 4px 0; /*Set 9px below to match value of 'padding-left' value above*/
}

a.squarebutton:hover{ /* Hover state CSS */
background-position: bottom left;
}

a.squarebutton:hover span{ /* Hover state CSS */
background-position: bottom right;
color: black;
}

.submitheader
{
    width:100%;
}

.submitheader td
{
    vertical-align: top;
}

.vendorDetails
{
    width:100%;    
    table-layout: fixed;
}

.vendordetails td
{
    width:25%;
}

.banner {
	background-image: url(/images/IMET_banner.jpg);
	background-repeat: no-repeat;
	width: 924px;
	height: 137px;
	margin-left: auto;
	margin-right: auto;
	border-color: #FFFFFF;
	border-width: medium;
	border-style: solid;
	vertical-align: bottom;
}
               
.logo {
	border: 0;
	margin-top: 52px;
	text-align: left;
}

#backlink a:link
{
    color: #FFFFFF;
    font-weight: bold;
}

#backlink a:visited
{
    color: #FFFFFF;
    font-weight: bold;
}

#backlink a:hover
{
    color: #FFFFFF;
    font-weight: bold;
}

#backlink a:active
{
    color: #FFFFFF;
    font-weight: bold;
}

#filters 
{
    padding-bottom: 30px;
}

.title
{
    color: #FFFFFF;
    font-size: larger;
    font-family: sans-serif;
    font-weight: bolder;
    margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 10px;
}

.textfield {
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  width: 80%;
}
